<div class="modal hide" id="new-modal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal">×</button>
    <h3>{{ "Create New App"| trans }}</h3>
  </div>
  <form action="{{ path('app_create', {'locale': locale})}}" class="form-vertical" method="post">
    <div class="modal-body">
        {{ form_widget(form) }}
        <span id="check-result"></span>
    </div>
    <div class="modal-footer">
        <button id="btn-create" type="submit" class="btn disabled" disabled>{{ "Create"|trans }}</button>
        <button id="btn-cancel" class="btn" data-dismiss="modal">Cancel</button>
    </div>
  </form>
</div>
<script type="text/javascript">
    $(function() {
        $('#btn-cancel').click(function() {
            $('#app_name_name').val('');
            $('#check-result').removeClass('success').removeClass('error').html('');
            $('#btn-create').removeClass('btn-primary').addClass('disabled').attr('disabled');
        });


      $('#app_name_name').keyup(function () {
        var t = this;
        if (this.value != this.lastValue) {
          if (this.timer) clearTimeout(this.timer);

          $('#check-result').addClass('loading');

          /*$('#check_name').removeClass('error').html('<img src="images/ajax-loader.gif" height="16" width="16" /> checking availability...');*/

          this.timer = setTimeout(function () {
            $.ajax({
              url: "{{ path('api_app', {'_format': 'json'}) }}?",
              data: 'name=' + t.value,
              dataType: 'json',
              type: 'get',
              success: function (data) {
                $('#check-result').removeClass('loading');
                if (data.id == undefined) {
                    $('#check-result').addClass('success').html('');
                    $('#btn-create').addClass('btn-primary').removeClass('disabled').removeAttr('disabled');
                } else {
                    $('#check-result').addClass('error').html('An app with the same name already exists');
                    $('#btn-create').removeClass('btn-primary').addClass('disabled').attr('disabled');
                }
              }
            });
          }, 200);

          this.lastValue = this.value;
        }
      });
    });
</script>
