{% extends 'layout.html.twig' %}
{% block title %}{{ current.name }}{{ parent() }}{% endblock %}
{% block content %}
<div class="row">

    {% include 'Apps/_apps_sidebar.html.twig' %}

    <div class="span9">
        <div class="row">
            <div class="span5">
                <h1>{{ current.name }} </h1>
            </div>
            <div class="span4 button-control-head">
                {#<a class="btn btn-danger" href="#"><i class="icon-remove icon-white"></i> {{ "Delete App"|trans }}</a>#}

                <a class="btn" href="{{ path('app_edit', {'id': current.id, 'locale': locale})}}"><i class="icon-edit"></i> {{ "Edit App"|trans }}</a>

                {% if apps|length < app.config.max_apps %}
                <a class="btn" data-toggle="modal" href="#new-modal"><i class="icon-plus"></i> {{ "Create New App"|trans }}</a>
                {% else %}
                <a class="btn disabled" rel="popover" data-content="{{ '<p><strong>Your account is limited to %max_apps% apps creation</strong>.</p><p>We need time to make the service able to face the increasing number of users... If you feel really frustrated about that, please contact us.</p>'|trans({'%max_apps%': app.config.max_apps}) }}" data-original-title="{{ 'Sorry !'|trans }}"><i class="icon-plus"></i> {{ "Create New App"|trans }}</a>
                {% endif %}
            </div>
        </div>

        <hr />

        {% if current.description %}
        <p class="lead">{{ current.description }}</p>
        {% endif %}
        <div class="row">
            <div class="span5">
                <table class="table table-condensed table-striped table-bordered">
                    {#<thead>
                        <tr>
                            <th collspan="2">{{ "Settings"|trans }}</th>
                        </tr>
                    </thead>#}
                    <tr>
                        <th>{{ "App ID" }}</th>
                        <td>{{ current.id }}</td>
                    </tr>        <tr>
                        <th>{{ "App Secret" }}</th>
                        <td>{{ current.secret }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% if apps|length < app.config.max_apps %}
{% include 'Apps/_new_form.html.twig' %}
{% else %}
<script type="text/javascript">
    $(function() {
        $('a[rel=popover]').popover({placement: 'bottom'})
    });
</script>#}
{% endif %}
{% endblock %}