{% extends 'layout.html.twig' %}
{% block title %}{{ current.name }}{{ parent() }}{% endblock %}
{% block content %}
<div class="row">

    {% include 'Apps/_apps_sidebar.html.twig' %}

    <div class="span9">
        <div class="row">
            <div class="span4">
                <h1>{{ current.name }} </h1>
            </div>
            <div class="span5 button-control-head">

                <a class="btn" href="{{ path('app_edit', {'id': current.id, 'locale': locale})}}"><i class="icon-edit"></i> {{ "Edit"|trans }}</a>


                 <a id="app-delete" type="submit" class="btn" href="{{ path('app_delete', {'id': current.id, 'locale': locale})}}"><i class="icon-remove"></i> {{ 'Delete'|trans }}</a>

                {% if apps|length < app.config['app']['max_apps'] %}
                <a class="btn" data-toggle="modal" href="#new-modal"><i class="icon-plus"></i> {{ "Create New App"|trans }}</a>
                {% else %}
                <a class="btn disabled" rel="popover" data-content="{{ '<p><strong>Your account is limited to %max_apps% apps creation</strong>.</p><p>We need time to make the service able to face the increasing number of users... If you feel really frustrated about that, please contact us.</p>'|trans({'%max_apps%': app.config['app']['max_apps']}) }}" data-original-title="{{ 'Sorry !'|trans }}"><i class="icon-plus"></i> {{ "Create New App"|trans }}</a>
                {% endif %}
            </div>
        </div>

        <hr />

        {% if current.description %}
        <p class="lead">{{ current.description }}</p>
        {% endif %}
        <div class="row">
            <div class="span5">
                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th collspan="2">{{ "Settings"|trans }}</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>{{ "App ID"|trans }}</th>
                        <td>{{ current.id }}</td>
                    </tr>
                    <tr>
                        <th>{{ "App Secret"|trans }}</th>
                        <td>{{ current.secret }}</td>
                    </tr>
                </table>

                <table class="table table-condensed table-bordered">
                    <thead>
                        <tr>
                            <th collspan="2">{{ "Stats"|trans }}</th>
                        </tr>
                    </thead>
                    <tr>
                        <th>{{ "Objects"|trans }}</th>
                        <td>1000000</td>
                    </tr>
                    <tr>
                        <th>{{ "Users"|trans }}</th>
                        <td>1000000</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
{% if apps|length < app.config['app']['max_apps'] %}
{% include 'Apps/_new_form.html.twig' %}
{% endif %}
<script type="text/javascript">
    $(function() {

        {% if apps|length >= app.config['app']['max_apps'] %}
        $('a[rel=popover]').popover({placement: 'bottom'})
        {% endif %}

        $('#app-delete').click(function() {

            var href = $(this).attr('href');

            $.fn.dialog2.helpers.confirm(
                '{{ "WARNING ! All related date will be lost. Are you sure you want to delete <strong>%name%</strong> ?"|trans({"%name%": current.name})|raw }}',
                {
                    confirm: function() { window.location = href; },
                    title: '{{ "Delete ?" }}'
                }
            );

            event.preventDefault();
        });
    });
</script>
{% endblock %}